.contact{
    font-family: "Lemonada",cursive;
    padding-top: 40px;
    padding-bottom: 40px;
    padding: 10px;
    
    
}
#contact{
    background-color: #F2FAFA;
    margin-top: 50px;
    padding-top: 20px;
}
.contact h3{
    font-weight: bold;
}
.contact hr{
    width: 85%;
}
#exampleInputName1,#exampleInputEmail1{
    
    margin: 5px;
}


#exampleInputSub1{
    float: none;
    margin: 5px;
    margin-top: 5px;
    
    
}
#exampleInputmsg1{
    height: 30vh;
    
    margin: 5px
}
.form-control:focus{
    border-color: #4EC8CA;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #4EC8CA;
}
.contact form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    
}
.cbtn{
    width: 100px;
    align-self: center;
    padding: 5px;
    font-size: 15px;
}
.secondside{
    padding: 10px;
    
    
}
.secondside a{
    text-decoration: none;
    color: black;
}

#prof_icon1{
    margin-left: 10px;
}
.secondside h4{
    margin-top: 10px;
    font-weight: bold;
}
.secondside h6{
    margin-top: 20px;
}
.footer{
    background-color: #F2FAFA;
    padding-top: 100px;
    text-align: center;
}
@media screen and (max-width:991px) {
    .secondside{
        padding-top: 60px;
        margin-left: 10px;
    }
}